# Next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Dependencies
node_modules/

# Build artefacts
.swc/
experience/output/

# Local env
.env.local
.env*.local

# Vercel
.vercel

# Editor
.DS_Store
*.log

# clerk configuration (can include secrets)
/.clerk/
